:root{
    --blue: #1e90ff;
    --white: #edebeb;
    --div-radius: 1rem;
    --div-padding: 0.5em 1em;
}

 
.wrapper{
    display: flex;
}

.wrapper>div:first-child {
    background-color: var(--blue);
    border-radius: var(--div-radius);
    padding: var(--div-padding);
}


p {
    background-color: var(--blue);
    border-radius: var(--div-radius);
    padding: var(--div-padding);
    color: var(--white)
}

